/* Adicione seu código CSS AQUI */
body {
    background: #C6ECED;
}

header {
    padding: 20px 0;
    text-align: center;
}

main {
    width: 1040px;
    margin: 0 auto;
}

.formulario {
    align-items: center;
    display: flex;

}

.input-padrao {
        padding: 2px 15px;
        width: 751px;
        height: 45px;
        border-radius: 10px;
        border-color: transparent;
        margin-right: 15px;
}

.enviar {
        width:15% ;
        padding: 15px 0;
        background: #3763AD;
        color: #FFCB05;
        font-weight: bold;
        font-size: 20px;
        border: none;
        border-radius:10px ;
        cursor:pointer;
    }


.cards li {
    display: inline-block;
    text-align: center;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    text-align: center;
    padding: 10px;
}

.card h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.card p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.42);
}

.pokemon-planta {
    background-color: #48D0B0;

}

.pokemon-fogo {
    background-color: #F66C6D;
}

.pokemon { 
    width: 151px;
    height: 151px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon img {
    width: 122px;
    height: 122px;
}

